// COLORS
$blue: #2af5ff;
$orange: #ffdb2b;
$green: #269f19;

.blue {
  background-color: $blue;
  color: white;
}

.orange {
  background-color: $orange;
  color: white;
}

.green {
  background-color: $green;
  color: white;
}


.todolist-content {
 height: 350px;
}


// panel-widget options animation
.options {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.options.ng-hide {
  opacity:0;
}


// DASHBOARD MESSAGES
.messages {
  position: relative;

  &-content {
    height: 600px;
  }
}


// ANGULAR MATERIAL OVERRIDES
md-radio-group {
  border: none;
}

md-icon {
  height: auto;
}
