// COLORS
$blue: #2af5ff;
$orange: #ffdb2b;
$green: #269f19;
$main-bg: #ECECEC;
$text-color: #7A7A7A;
$accent-color: #E75753;

.blue {
  background-color: $blue;
  color: white;
}

.orange {
  background-color: $orange;
  color: white;
}

.green {
  background-color: $green;
  color: white;
}


.todolist-content {
 height: 350px;
}


// VARIABLES
$left-sidenav-width: 110px;


// PANEL-WIDGET
.panel-widget {
  box-shadow: none;
}

.options {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.options.ng-hide {
  opacity:0;
}


// DASHBOARD MESSAGES
.messages {
  position: relative;

  &-content {
    height: 80vh;
  }
}


// ANGULAR MATERIAL OVERRIDES
md-radio-group {
  border: none;
}

md-icon {
  height: auto;
}

md-sidenav.md-locked-open.md-sidenav-left {
  width: $left-sidenav-width;
  min-width: $left-sidenav-width;
  max-width: $left-sidenav-width;
}


// LAYOUT
body {
  color: $text-color;
}


// CHARTS
.donut-chart-title{
  text-align: center;
}


// UTILS
.capitalize {
  text-transform: capitalize;
}
