<h2 class="md-display-2">Material Design Space Center</h2>

<md-card>
  <md-progress-linear class="md-warn" md-mode="buffer" value="{{vm.startValue}}" md-buffer-value="{{vm.bufferValue}}"></md-progress-linear>

  <md-card-content>
    <md-button class="md-raised md-primary" ng-disabled="!vm.launchAllowed" ng-click="vm.showAlert()">
      Launch rockets!
    </md-button>

    <md-checkbox aria-label="Checkbox 1" ng-change="vm.checkLaunch()" ng-model="vm.launchToMars">
      To Mars
    </md-checkbox>

    <md-checkbox aria-label="Checkbox 2" ng-change="vm.checkLaunch()" ng-model="vm.launchToVenus">
      To Venus
    </md-checkbox>
  </md-card-content>
</md-card>
