<md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left"
            class="md-whiteframe-z2 md-sidenav-left">
  <md-toolbar class="md-accent">
    <h1 class="md-toolbar-tools">Angular Material Admin</h1>
  </md-toolbar>
  <md-list>
    <md-item ng-repeat="item in vm.menuItems">
      <md-item-content>
        <md-button layout="row" flex ng-click="vm.selectItem(item)"
                   ui-sref-active="md-accent" ui-sref="{{item.sref}}">
          <div flex="30" class="md-tile-content">
            <md-icon md-svg-icon="{{item.icon}}"></md-icon>
          </div>
          <div layout="row" layout-align="start" class="md-tile-content">
            {{item.name}}
          </div>
        </md-button>
      </md-item-content>
    </md-item>
  </md-list>
</md-sidenav>

<div layout="column" flex>
  <md-toolbar layout="row">
    <md-button hide-gt-sm ng-click="vm.toggleItemsList()" aria-label="Show Menu">
      <md-icon md-svg-icon="menu"></md-icon>
    </md-button>

    <h2 class="md-toolbar-tools">{{vm.title}}</h2>

    <md-select flex='10' placeholder="Admin" ng-model="admin">
      <md-option ui-sref="home.profile" value="1">Profile</md-option>
      <md-option ng-click="vm.showActions($event)" value="2">Actions</md-option>
    </md-select>

    <!-- TODO: replace md-icon to ng-src and fix images paths in build -->
    <md-icon flex="10" md-svg-icon="user"></md-icon>

  </md-toolbar>

  <md-content flex class="md-padding">
    <div ui-view></div>
  </md-content>
</div>
