<md-content ng-controller="SearchController as vm" class="md-padding">
  <md-autocomplete placeholder="Search country for landing"
                   md-selected-item="vm.selectedCountry"
                   md-search-text="vm.searchText"
                   md-items="item in vm.querySearch(vm.searchText)"
                   md-item-text="item.display">
    <span md-highlight-text="vm.searchText">{{item.display}}</span>
  </md-autocomplete>

  <p>Selected country:
    <b>{{vm.selectedCountry.display || 'No country selected'}}</b>
  </p>
  <p>Country code:
    <b>{{vm.selectedCountry.code || 'No country selected'}}</b>
  </p>
</md-content>
