<md-content ng-controller="InfoPanelController as vm" class="md-padding">

  <md-progress-linear class="md-warn" md-mode="buffer" value="{{vm.startValue}}"
                      md-buffer-value="{{vm.bufferValue}}"></md-progress-linear>

  <md-checkbox aria-label="Checkbox 1" ng-change="vm.checkButton()" ng-model="vm.reloadStaging">
    Staging server
  </md-checkbox>

  <md-checkbox aria-label="Checkbox 2" ng-change="vm.checkButton()" ng-model="vm.reloadProduction">
    Production server
  </md-checkbox>

  <md-button class="md-raised md-primary" ng-disabled="!vm.buttonEnabled" ng-click="vm.showAlert()">
    Reload servers
  </md-button>
</md-content>
