<md-content ng-controller="InfoPanelController as vm" class="md-padding">

  <md-progress-linear class="md-warn" md-mode="buffer" value="{{vm.startValue}}"
                      md-buffer-value="{{vm.bufferValue}}"></md-progress-linear>

  <md-radio-group ng-model="vm.reloadServer">
    <md-radio-button value="Staging">Staging server</md-radio-button>
    <md-radio-button value="Production">Production server</md-radio-button>
  </md-radio-group>

  <md-button class="md-raised md-warn" ng-click="vm.showAlert()">
    Reload server
  </md-button>
</md-content>
