<md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left"
            class="md-whiteframe-z2 md-sidenav-left">
  <md-toolbar md-theme="custom" class="md-hue-1 md-whiteframe-z2">
    <md-button layout="row" layout-align="center center" class="md-toolbar-tools md-accent"
               href="https://github.com/flatlogic/angular-material-dashboard">
      <h1>AMD</h1>
    </md-button>
  </md-toolbar>
      <md-button ng-repeat-start="item in vm.menuItems" layout="column" layout-align="center center"
                 flex class="capitalize" ng-click="vm.selectItem(item)"
                 ui-sref-active="md-accent" ui-sref="{{item.sref}}">
          <div hide-sm hide-md class="md-tile-content">
              <md-icon md-svg-icon="{{item.icon}}"></md-icon>
          </div>
          <div class="md-tile-content">
              {{item.name}}
          </div>
      </md-button>
      <md-divider ng-repeat-end></md-divider>
      <md-button hide-gt-md flex ng-click="vm.showActions($event)">
          <div layout="row" class="md-tile-content">
            Actions
          </div>
      </md-button>
</md-sidenav>

<div layout="column" flex>
  <md-toolbar layout="row">
    <md-button hide-gt-sm ng-click="vm.toggleItemsList()" aria-label="Show Menu">
      <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
  </md-toolbar>

  <md-content flex class="md-padding">
    <div ui-view></div>
  </md-content>
</div>

<md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="right"
            class="md-whiteframe-z2 md-sidenav-right">
  <md-toolbar class="md-accent" layout="row">
    <!-- TODO: replace md-icon to ng-src and fix images paths in build -->
    <md-icon hide-sm hide-md md-svg-icon="user"></md-icon>
    <md-menu hide-sm hide-md>
      <md-button class="capitalize" ng-click="$mdOpenMenu()" aria-label="Open menu">Richard Feynman</md-button>
      <md-menu-content>
        <md-menu-item><md-button ui-sref="home.profile">Profile</md-button></md-menu-item>
        <md-menu-item><md-button ng-click="vm.showActions($event)">Actions</md-button></md-menu-item>
      </md-menu-content>
    </md-menu>
  </md-toolbar>

  <section>
    <md-toolbar md-theme="grey" class="md-hue-1">
        <div class="md-toolbar-tools">
            <h3>Messages</h3>
        </div>
    </md-toolbar>
    <div ng-include src="'app/views/partials/messages.html'"/>
  </section>
</md-sidenav>
